.subnav.group
  .grid_8.alpha
    %h3 Jobs
    %ul.horizontal
      %li Filter Jobs by Status:
      - Job.workflow_spec.states.keys.each do |state|
        %li= link_to(state.to_s.titleize, with_state_jobs_path(state))

  .grid_4.omega.text-right
    %ul.horizontal
      %li= link_to("Create a New Job", new_job_path, :class => "button")

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAzl2YMVe44HFSsnfewgirnRTFx0WbLStG4IsLghOI9giaQqI8XxQJ56JP1k_llYi0Q3pNnb294QRmgw" type="text/javascript"></script>
- jobs_json = (@jobs.collect {|job| [job.location.latitude,job.location.longitude]}).to_json
<div id="map_canvas" style="width: 500px; height: 300px"></div>
:javascript
  mapInit("map_canvas")
  jobs = #{jobs_json}
  for(var i=0;i<jobs.length;i++)
  {
    mapAddJob(jobs[i][0],jobs[i][1])
  }

%table.data
  %tr
    %th Client
    %th.text-center Number of Bids
    %th.text-center Number of Reported Cats
    %th Status

  - @jobs.each do |job|
    %tr[job]{ :class => job.workflow_state }
      %td= link_to(job.location.client.name, job_path(job))
      %td.text-center= job.bids.count
      %td.text-center= job.number_of_cats
      %td= job.workflow_state.titleize

= paginate(@jobs)
