.subnav.group
  .grid_8.alpha
    %ul.horizontal
      %li Filter Jobs by Status:
      - Job.workflow_spec.states.keys.each do |state|
        %li= link_to(state.to_s.titleize, with_state_jobs_path(state))

  .grid_4.omega.text-right
    %ul.horizontal
      %li
        %strong= link_to("Create a New Job", new_job_path, :class => "button")

%table.data
  %tr.header
    %td Address
    %td City
    %td Zip
    %td Status

  - @jobs.each do |job|
    %tr[job]
      %td= link_to("#{job.location.addr1} #{job.location.addr2}", job)
      %td= job.location.city
      %td= job.location.zip
      %td= job.workflow_state.titleize

= paginate(@jobs)
