<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=ABQIAAAAzl2YMVe44HFSsnfewgirnRTFx0WbLStG4IsLghOI9giaQqI8XxQJ56JP1k_llYi0Q3pNnb294QRmgw" type="text/javascript"></script>
<div id="map_canvas" style="width: 500px; height: 300px"></div>
:javascript
  var map = new GMap2(document.getElementById("map_canvas"));
  map.setCenter(new GLatLng(37.4419, -122.1419), 13);

  // Add 10 markers to the map at random locations
  var bounds = map.getBounds();
  var southWest = bounds.getSouthWest();
  var northEast = bounds.getNorthEast();
  var lngSpan = northEast.lng() - southWest.lng();
  var latSpan = northEast.lat() - southWest.lat();
  for (var i = 0; i < 10; i++) {
    var point = new GLatLng(southWest.lat() + latSpan * Math.random(),
        southWest.lng() + lngSpan * Math.random());
    map.addOverlay(new GMarker(point));
  }

.subnav.group
  .grid_8.alpha
    %h3 Jobs
    %ul.horizontal
      %li Filter Jobs by Status:
      - Job.workflow_spec.states.keys.each do |state|
        %li= link_to(state.to_s.titleize, with_state_jobs_path(state))

  .grid_4.omega.text-right
    %ul.horizontal
      %li= link_to("Create a New Job", new_job_path, :class => "button")

%table.data
  %tr
    %th Client
    %th.text-center Number of Bids
    %th.text-center Number of Reported Cats
    %th Status

  - @jobs.each do |job|
    %tr[job]{ :class => job.workflow_state }
      %td= link_to(job.location.client.name, job_path(job))
      %td.text-center= job.bids.count
      %td.text-center= job.number_of_cats
      %td= job.workflow_state.titleize

= paginate(@jobs)
