.subnav.group
  .grid_8.alpha
    %h3= @job.location.client.name

  .grid_4.omega.text-right
    %ul.horizontal
      - if can?(:update, @job)
        %li= link_to("Edit Job", edit_job_path(@job), :class => "button")

.grid_6
  .info
    %ul
      %li
        Status:
        %strong= @job.workflow_state.titleize

      %li
        Number of Cats:
        %strong= @job.number_of_cats

  %h4 Submitted Bids

  - if can?(:manage, Job) && !@job.bids.empty? && @job.current_state == "open"
    .trapper_select
      %p Select Trapper for Job
      = form_tag(start_job_path(@job)) do
        = select_tag(:bid, options_for_select(@job.bids.uniq { |b| b.user.id }.collect { |b| [ b.user.email, b.id ] }))
        = submit_tag("Start Job")

  - unless @job.bids.empty?
    - @job.bids.each do |bid|
      .bid
        = bid.user.email
        = simple_format(bid.notes)

  - else
    %p There are currently no bids for this job.

.grid_6
  - if @job.workflow_state == "open"
    = semantic_form_for([ @job, @job.bids.build ]) do |f|
      .section-wrapper.group
        %h2 Bid For this Job

        .field
          = f.label("Notes")
          = f.text_area(:notes, :rows => 5)

      .section-wrapper.controls.group
        = f.buttons do
          = f.commit_button("Submit Your Bid")
