/ %h1 Users

%table.data
  %tr
    %th Email
    - User.roles.each do |role|
      %th.text-center= role.titleize

  - @users.each do |user|
    %tr
      %td= user.email
      - User.roles.each do |role|
        - if user.send("is_#{role}?")
          %td.text-center &#x2713;


/ :javascript
/   $(function($) {
/       $("#roles_#{user.id}_#{name}").change(function() {
/           $.ajax({url: '#{url_for :controller=>:users, :action => :update, :id =>user.id}',
/           type: 'put',
/           data: {checked: this.checked, role:"#{name}"},
/           dataType: 'script'})
/       });
/   });
