.subnav.group
  .grid_8.alpha
    %h3 Users
  .grid_4.omega.text-right
    %ul.horizontal
      %li
        %strong= link_to("Create a New User", new_user_path, :class => "button")

%table.data
  %tr
    %th Email
    - User.roles.each do |role|
      %th.text-center= role.titleize

  - @users.each do |user|
    %tr
      %td= link_to(user.email, edit_user_path(user))
      - User.roles.each do |role|
        %td.text-center
          - if user.send("is_#{role}?")
            &#x2713;
          - else
            \ -

/ :javascript
/   $(function($) {
/       $("#roles_#{user.id}_#{name}").change(function() {
/           $.ajax({url: '#{url_for :controller=>:users, :action => :update, :id =>user.id}',
/           type: 'put',
/           data: {checked: this.checked, role:"#{name}"},
/           dataType: 'script'})
/       });
/   });
