.subnav.group
  .grid_8.alpha
    = form_tag("/clients", :method => :get) do
      = label_tag("Search Clients:")
      = text_field_tag(:query)
      = submit_tag("Search")

  .grid_4.omega.text-right
    %ul
      %li= link_to("Create a New Client", new_client_path, :class => "button")
 
%table.data
  %tr
    %th Name
    %th Phone Number

  - @clients.each do |client|
    %tr
      %td= link_to(client.name, client_path(client))
      %td= client.phone_number
