/ %p Use this form to search for a client by phone number.
/ %p= link_to "New Client", new_client_path
 
= form_tag("/clients", :method => :get) do
  = label_tag("Search")
  = text_field_tag(:query)
  = submit_tag("Search")
 
- if @clients
  %table.data
    %tr
      %th Name
      %th Phone Number
    - @clients.each do |client|
      %tr
        %td= link_to(client.name, client_path(client))
        %td= client.phone_number
