<% title "Client" %>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @client.phone_number %>
</p>
<% for location in @client.locations %>
  <div>
<p>
  <strong>Addr1:</strong>
  <%= location.addr1 %>
</p>
<p>
  <strong>Addr2:</strong>
  <%= location.addr2 %>
</p>
<p>
  <strong>Zip:</strong>
  <%= location.zip %>
</p>
<p>
  <strong>City:</strong>
  <%= location.city %>
</p>
  </div>
<% end %>

<p>
  <%= link_to "Edit", edit_client_path(@client) %> |
  <%= link_to "Destroy", @client, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", clients_path %>
</p>
